<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="utf-8">
	<title>HTML Code Template</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
	
	<header>
		
	<img src="images/logo.png" alt="logo" height="100" width="300" class="img-fluid logo">

	</header>
	<nav>
		<nav class="navbar navbar-expand-sm navbar-danger bg-danger">
			<nav class="navbar navbar-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  	</button>

 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
      			<li class="nav-item active"><a class="nav-link" href="resume.html">Resume</a></li>
      			<li class="nav-item active"><a class="nav-link" href="contact.html">Contact</a></li> 
      			<li class="nav-item active"><a class="nav-link" href="gallery.html">Gallery</a></li>
     
    		</ul>
    
  	</div>
</nav>

	</nav>	
	<main>
		<h1>portfolio</h1>
			
	
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<img class="img-fluid" src="images/may.jpg" height="400" width="400">
					<img src="images/dib.jpg" height="400" width="400">
					<img src="images/river.jpg" height="400" width="400">
				</div>
				<div class="col-sm-4">

					<img class="img-fluid" src="images/somalia-beach.jpg" height="400" width="400">
					<img class="img-fluid" src="images/somali river.jpg" height="400" width="400" alt="beautiful river">
					<img class="img-fluid"src="images/daalo.jpg" alt="one of the beautiful somali mountains" height="400" width="400">
				</div>
				<div class="col-sm-4">
					<img class="img-fluid"src="images/beautiful-landscape.jpg"beautiful landscape alt="" height="400" 
					width="400">
				<img src="images/somalia-beach.jpg" height="400"width="400">

				<img class="img-fluid"src="images/blue-flowers.jpg" alt="green flower" height="400" width="400">
				</div>
			</div>








		</div>
		<div class="container-fluid"></div>
			<div class="row"></div>
			<div class="col-sm-6"></div>
		</div>

		

	</main>
	<hr>

	<footer>

		<br><strong>Copyright@2019 Ibrahim Aden</strong><br>
		</footer>
		<!--jQuery, Popper, and Bootstrap Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<div>

	<ul>
		<li><i class="fa fa-linkedin" aria-hidden="true"></i>
		</li>
		<li><a href="mailto:Ibrahimaden911@gmail.com"><i class ="fa fa-envelope" aria-hidden="true"></i></a>
		</li>
		<li><i class="fa fa-github-alt" aria-hidden="true"></i>
		</li>
		<img src="images/favicon.png" alt="favicon" height="50" width="50" class="img-fluid favicon">

	</ul>

</div>
	
</body>
</html>