<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="utf-8">
	<title>HTML Code Template</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<body>
	
	<header>
			<img src="images/logo.png" alt="portfolio logo" height="100" width="300" class="img-fluid logo">



	</header>
	<nav>
		<nav class="navbar navbar-expand-sm navbar-danger bg-danger">
			<nav class="navbar navbar-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  	</button>

 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
      			<li class="nav-item active"><a class="nav-link" href="resume.html">Resume</a></li>
      			<li class="nav-item active"><a class="nav-link" href="contact.html">Contact</a></li>  
      			<li class="nav-item active"><a class="nav-link" href="gallery.html">Gallery</a></li>
    
    		</ul>
    
  	</div>
</nav>

	</nav>	
	<main>
		<h1>home</h1>
		<br>

		<br>


		<p>
		<h2>my goal</h2>
				My goal is to work as a computer programmer, and to that end<br> I am studying Computer Science at Saint Paul College,scheduled for graduation in the Spring of 2021.<br> 
				Since graduating from High School in Ethiopia and moving to the US,
				<br>I have been working as a driver and in retail, and I am looking forward to a meaningful work as a programmer.<br>I am particularly interested in web development and I know HTML, CSS and a little JavaScript.<br>
				Growing up in Somalia and Ethiopia made me appreciate all that I can achieve in the United States, <br>through hard work and education. I bring that dedication to everything that I do and work hard to be a collaborative employee.<br>
				In my leisure time, I like to help my family, play with my children and take them to the fun places. <br>Beside this I like to watch boxing game and watch moves. <br>I like to hang out with my friends and visit some of my relatives.<br> Having a good connection with the relatives is very crucial in our culture.
				<h6>Three Things</h6>
				<h6>Quick-Learner.</h6> My employers have told me that I am a very quick learner.<br> Once I am shown how to do something one-time and then that is it. 
				<h6>Team player.</h6> I always work respectfully with my team and<br> find ways to support my co-workers in their goals.<br>
				<h6>Reliable.</h6> I always come to work on time and focus on the work at hand.<br> My employers can count on my reliability and my hard work.</p>







		<div class="container-fluid"></div>
			<div class="row"></div>
			<div class="col-sm-6"></div>
		</div>
		<div class="container-fluid"></div>
			<div class="row"></div>
			<div class="col-sm-6"></div>
		</div>
		</div>
		<div class="container-fluid"></div>
			<div class="row"></div>
			<div class="col-sm-6"></div>
		</div>


	</main>
	<hr>

	<footer>

		<br><strong>Copyright@2019 Ibrahim Aden</strong><br>
		
		</footer>
		<!--jQuery, Popper, and Bootstrap Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<div>

	<ul>
		<li><i class="fa fa-linkedin" aria-hidden="true"></i>
		</li>
		<li><a href="mailto:Ibrahimaden911@gmail.com"><i class ="fa fa-envelope" aria-hidden="true"></i></a>
		</li>
		<li><i class="fa fa-github-alt" aria-hidden="true"></i>
		</li>
		<img src="images/favicon.png" alt="favicon" height="50" width="50" class="img-fluid favicon">

	</ul>

</div>
</body>
</html>