<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="utf-8">
	<title>HTML Code Template</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
	
	<header>
		
		
	<img src="images/logo.png" alt="portfolio logo" height="100" width="300" class="img-fluid logo">

	</header>
	<nav>
		<nav class="navbar navbar-expand-sm navbar-danger bg-danger">
			<nav class="navbar navbar-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  	</button>

 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
      			 <li class="nav-item active"><a class="nav-link" href="resume.html">Resume</a></li>
      			<li class="nav-item active"><a class="nav-link" href="contact.html">Contact</a></li>
      			<li class="nav-item active"><a class="nav-link" href="gallery.html">Gallery</a></li>
      
    		</ul>
    
  	</div>
</nav>

	</nav>	
	<main>
		<h2>My Resume</h2><br>
		Ibrahim Aden<br>
		Cell: 701-729-1728<br>
		Ibrahimaden911@gmail.com<br>
<h4>Objective</h4>
I am Full-time student graduating in May 2021 and seeking internship in web development.<br>
I am available part-time immediately and full-time in June 2021. 
<h4>Education</h4><ul>
<li>Student at Saint Paul College, scheduled for graduation May 2021.</li>
<li>Front-end developer course work in HTML, CSS and some JavaScript/jQuery.</li>
<li>High School Diploma from jigjig high school in Ethiopia.</li>
<li>I am pursuing my associate Degree: Computer programmer, Saint Paul College,MN.</li>
<li>Coursework includes HTML, CSS, WordPress and some JavaScript/jQuery.</li>
<li>I am scheduled to graduate in 2021.</ul></li>
<h4>Highlights</h4><ul>
<li>Proficient in HTML, CSS and Java script Frameworks</li>
<li>Competent city bus driver</li>
<li>Focused and detail-oriented</li>
<li>Good problem solver</li>
<li>Easy to get along with</li>
<li>Minnehaha employee</li>
<li>Great with customers</li></ul>
<h4>Skills</h4>
HTML, CSS, Bootstrap, Responsive Design and some JavaScript/jQuery
<h4>Experience</h4>
<h6>Valley bus (April 2015-May 2016)</h6>
<h6>Driver</h6><ul>
<li>picking the students up from their locations to the school and take them back to their homes after they finish their school day safely.</li>
<li>The most important thing for my job was the reliability and being on time.</li>
<br><h6>Walmart (April 2016-June 2017)</h6>
<li>Unloading the truck and putting the items on the shelf.</li>
<li> My responsibility was to unload the trucks with my team and stuck the items on the shelves.</li>
<li>I also used to help the customers to find the items they are looking for and answer their questions related to those items.</li></ul>

<h6>First Transit bus (January- December 2018).</h6><ul>
<li>My biggest responsibility was reliability and being on time.</li>
<li>My second major responsibility was picking the customers up and dropping them off to their destination safely.</li> <li>I was also responsible to make sure that each customer pays the ride fee.
<li>if they foeget to pay the fee, I used to remind them in a polite way.</li></li>
Computer Programming Projects
Created a Bootstrap website in native HTML and CSS at MyCoolWebsite.com
<br><h3>Referance</h3>
Available upon request


		<div class="container-fluid"></div>
			<div class="row"></div>
			<div class="col-sm-6"></div>
		</div>
		<div class="container-fluid"></div>
			<div class="row"></div>
			<div class="col-sm-6"></div>
		</div>
		</div>
		<div class="container-fluid"></div>
			<div class="row"></div>
			<div class="col-sm-6"></div>
		</div>

		<div id="hero-home"></div>

	</main>
	<hr>

	<footer>
		<strong></strong>

		<br><strong>Copyright@2019 Ibrahim Aden</strong><br>
		</footer>
		<!--jQuery, Popper, and Bootstrap Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<div>

	<ul>
		<li><i class="fa fa-linkedin" aria-hidden="true"></i>

		</li>
		<li><a href="mailto:Ibrahimaden911@gmail.com"><i class ="fa fa-envelope" aria-hidden="true"></i></a>
		</li>
		<li><i class="fa fa-github-alt" aria-hidden="true"></i>
		</li>
		<li><img src="images/favicon.png" alt="favicon" height="50" width="50" class="img-fluid favicon"></li>

	</ul>

</div>
	
</body>
</html>